{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "dbAdminPassword": {
      "value": "REPLACE_ME_STRONG_PASSWORD"
    },
    "clerkSecretKey": {
      "value": "REPLACE_ME_CLERK_SECRET_KEY"
    },
    "tokenEncryptionKey": {
      "value": "REPLACE_ME_GENERATE_WITH_FERNET_GENERATE_KEY"
    },
    "googleClientSecret": {
      "value": "REPLACE_ME_GOOGLE_OAUTH_CLIENT_SECRET"
    },
    "salesforceClientSecret": {
      "value": "REPLACE_ME_SALESFORCE_CONNECTED_APP_CONSUMER_SECRET"
    },
    "sendgridApiKey": {
      "value": "REPLACE_ME_SENDGRID_MAIL_SEND_API_KEY"
    },
    "sendgridInboundSecret": {
      "value": "REPLACE_ME_SENDGRID_INBOUND_PARSE_SHARED_SECRET"
    },
    "payuMerchantKey": {
      "value": "REPLACE_ME_PAYU_TEST_MERCHANT_KEY"
    },
    "payuMerchantSalt": {
      "value": "REPLACE_ME_PAYU_TEST_MERCHANT_SALT_V2_SHA512"
    }
  }
}
